<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="challengeTodoMapper">

    <resultMap type="ChallengeTodo" id="ChallengeTodoMap">
        <result column="TODO_NO" property="todoNo"/>
        <result column="CHALLENGE_NO" property="challengeNo"/>
        <result column="TODO_DATE" property="todoDate"/>
        <result column="TODO_CONTENT" property="todoContent"/>
        <result column="CLEAR" property="clear"/>
        <result column="VALUE" property="value"/>
    </resultMap>
    <resultMap type="Todo" id="todoMap">
        <result column="TODO_NO" property="todoNo"/>
        <result column="TODO_DATE" property="todoDate"/>
        <result column="TODO_CONTENT" property="todoContent"/>
        <result column="CLEAR" property="clear"/>
        <result column="VALUE" property="value"/>
    </resultMap>
    <resultMap id="dailyMap" type="ChallengeTodoVo">
        <id column="CHALLENGE_NO" property="challengeNo"/>
        <result column="CHALLENGE_TITLE" property="challengeName"/>
        <collection column="{todoDate=TODO_DATE,challengeNo=CHALLENGE_NO,userNo=USER_NO}"
                     property="todoList"  select="findDailyTodo"/>
    </resultMap>
    <!--    <insert id="insertTodo" parameterType="ChallengeTodo">-->
    <!--        INSERT INTO CHALLENGE_TODO (TODO_NO,CHALLENGE_NO,USER_NO,TODO_DATE,TODO_CONTENT,VALUE,CLEAR)VALUES (SEQ_CHALLENGE_TODO.nextval,#{challengeNo},#{userNo},#{todoDate},#{todoContent},#{value},0)-->
    <!--    </insert>-->
    <insert id="insertTodo" parameterType="CGTodoInsertVo">
        <foreach collection="todoList" item="todo" index="index" open="INSERT ALL" separator=""
                 close="SELECT * FROM DUAL">
            INTO CHALLENGE_TODO(TODO_NO,CHALLENGE_NO,USER_NO,TODO_DATE,TODO_CONTENT,VALUE,CLEAR)
            VALUES (GET_CH_TODO_SEQ(),#{challengeNo},#{userNo},#{todo.todoDate},#{todo.todoContent},#{todo.value},0)
        </foreach>
    </insert>
    <!-- 챌린지 시작   -->
    <insert id="copyTodo" parameterType="ChallengeUserVo">
        INSERT INTO CHALLENGE_TODO(TODO_NO, CHALLENGE_NO, USER_NO, TODO_DATE, TODO_CONTENT, VALUE, CLEAR)
        SELECT SEQ_CHALLENGE_TODO.nextval as TODO_NO,
               CHALLENGE_NO,
               #{userNo} as USER_NO,
               TODO_DATE,
               TODO_CONTENT,
               VALUE,
               CLEAR
        FROM CHALLENGE_TODO
        WHERE CHALLENGE_NO = #{challengeNo}
          AND USER_NO = '-1'
    </insert>
    <!-- 미리보기  -->
    <select id="findPreview" parameterType="_int" resultMap="ChallengeTodoMap">
        SELECT *
        FROM CHALLENGE_TODO
        WHERE CHALLENGE_NO = #{challenge_no}
          AND USER_NO = -1
    </select>
    <select id="findDailyTodo" parameterType="Map" resultMap="todoMap">
        <![CDATA[
        SELECT *
        FROM CHALLENGE_TODO
        WHERE CHALLENGE_NO = #{challengeNo}
          AND USER_NO = #{userNo}
          AND #{todoDate} <=TODO_DATE
            AND TODO_DATE<#{todoDate}+1
        ORDER BY VALUE
        ]]>
    </select>
    <select id="findDaily" parameterType="DailyFindVo" resultMap="dailyMap">
        SELECT CHALLENGE_NO, CHALLENGE_TITLE, #{todoDate} as TODO_DATE, #{userNo} as USER_NO
        FROM CHALLENGE
                 JOIN CHALLENGE_USER cu USING (CHALLENGE_NO)
        WHERE cu.USER_NO = #{userNo}
          AND cu.STATUS = 'PLAY'
    </select>


    <update id="clearChTodo" parameterType="ChallengeTodo">
        UPDATE CHALLENGE_TODO
        SET CLEAR =
                CASE WHEN CLEAR = 0 THEN 1
                     WHEN CLEAR = 1 THEN 0
                    END
        WHERE TODO_NO = #{todoNo}
    </update>

    <select id="calChTodo" resultType="string">
        SELECT TO_CHAR(TODO_DATE, 'YYMMDD')
        FROM CHALLENGE_TODO
        WHERE USER_NO = #{userNo}
        ORDER BY TODO_DATE
    </select>



</mapper>