<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="challengeChatMapper">

    <resultMap id="challengeChatMap" type="ChallengeChat">
        <result column="CHAT_NO" property="chatNo"/>
        <result column="CHALLENGE_NO" property="challengeNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="CHAT_MESSAGE" property="chatMessage"/>
        <result column="SEND_AT" property="sendAt"/>
        <!--        <association property="challenge" resultMap="challengeMapper.challengeMap"/>-->
    </resultMap>

    <insert id="insertChatData" parameterType="ChallengeChat">
        <selectKey order="BEFORE" resultType="int" keyProperty="chatNo"  >
            SELECT SEQ_CHAT.nextval FROM DUAL
        </selectKey>
        INSERT INTO CHALLENGE_CHAT(CHAT_NO, CHALLENGE_NO, USER_NO, CHAT_MESSAGE, SEND_AT)
        VALUES (#{chatNo}, #{challengeNo}, #{userNo}, #{chatMessage}, SYSDATE)

    </insert>
    <select id="findByChallenge" parameterType="int" resultMap="challengeChatMap">
        <![CDATA[
        SELECT *
        FROM (SELECT *
              FROM CHALLENGE_CHAT cc
              WHERE CHALLENGE_NO = #{challengeNo}
              ORDER BY SEND_AT DESC)
        WHERE ROWNUM < 50
        ]]>
    </select>
    <select id="findOne" parameterType="int" resultMap="challengeChatMap">
        SELECT  *
        FROM CHALLENGE_CHAT
        WHERE CHAT_NO=#{chatNo}


    </select>
</mapper>

