<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="emailConfirmMapper">-->

<!--    &lt;!&ndash;  이메일 인증  &ndash;&gt;-->
<!--    <resultMap id="emailConfirmResultSet" type="EmailConfirm">-->
<!--        <result column="CONFIRM_NO" property="confirmNo" />-->
<!--        <result column="CODE" property="code" />-->
<!--        <result column="EMAIL" property="email" />-->
<!--        <result column="CONFIRM_AT" property="confirmDate" />-->
<!--        <result column="STATUS" property="status" />-->
<!--    </resultMap>-->

<!--    &lt;!&ndash; 이메일 체크 &ndash;&gt;-->
<!--    <select id="checkEmail" parameterType="Map" resultType="int">-->
<!--        SELECT COUNT(*) AS COUNT-->
<!--        FROM EMAIL_CONFIRM-->
<!--        WHERE EMAIL = #{email}-->
<!--    </select>-->


<!--    &lt;!&ndash;  이메일 체크 삽입  &ndash;&gt;-->
<!--    <insert id="insertEmail" parameterType="Map">-->
<!--        INSERT INTO EMAIL_CONFIRM (CONFIRM_NO, CODE, EMAIL, STATUS)-->
<!--        VALUES(SEQ_CONFIRM.NEXTVAL, #{code}, #{email}, DEFAULT)-->
<!--    </insert>-->


<!--    &lt;!&ndash; 이메일 체크 삭제 &ndash;&gt;-->
<!--    <delete id="deleteEmail" parameterType="Map">-->
<!--        DELETE FROM EMAIL_CONFIRM-->
<!--        WHERE EMAIL = #{email}-->
<!--    </delete>-->


<!--    &lt;!&ndash;  인증번호 확인  &ndash;&gt;-->
<!--    <select id="checkEmailNum" parameterType="Map" resultType="int">-->
<!--        SELECT-->
<!--        CASE WHEN ROUND((SYSDATE-CONFIRM_AT)*24*60,2) &lt; 3 THEN 1 ELSE 0 END AS result-->
<!--        FROM EMAIL_CONFIRM-->
<!--        WHERE EMAIL = #{email}-->
<!--        AND CODE = #{code}-->
<!--    </select>-->


<!--</mapper>-->