<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feedMapper">
    <!-- FEED 테이블  -->
    <resultMap type="Feed" id="feedResultSet">
        <result column="FEED_NO" property="feedNo"></result>
        <result column="USER_NO" property="userNo"></result>
        <result column="FEED_CONTENT" property="feedContent"></result>
        <result column="FEED_AT" property="feedAt"></result>
    </resultMap>


    <select id="selectMyFeed" resultMap="feedResultSet">
        SELECT
            FEED_NO ,
            USER_NO ,
            FEED_CONTENT ,
            FEED_AT
        FROM FEED
        WHERE USER_NO = 2
    </select>
<!-- 피드 게시물  -->
    <select id="selectFeed" resultMap="feedResultSet">
        SELECT * FROM FEED
    </select>

<!-- 피드 작성  -->
    <insert id="insertFeed" parameterType="Map">
        INSERT INTO FEED (FEED_NO, USER_NO, FEED_CONTENT, FEED_AT) VALUES
        (SEQ_FEED.nextval,#{userNo},#{feedContent},sysdate)
    </insert>

<!--  피드 수정  -->
    <update id="updateFeed" parameterType="Map">
        UPDATE FEED SET FEED_CONTENT = #{feedContent} where FEED_NO = #{feedNo}
    </update>

<!--  피드 삭제  -->
    <delete id="deleteFeed" parameterType="Map">
        DELETE FROM FEED WHERE FEED_NO = #{feedNo}
    </delete>
<!-- 사진 등록 -->



</mapper>