<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photoMapper">
  <resultMap id="photoMap" type="Photo">
      <id column="PHOTO_NO" property="photoNo"/>
      <result column="ORIGIN_NAME" property="originName"/>
      <result column="CHANGE_NAME" property="changeName"/>
      <result column="FILE_PATH" property="filePath"/>
  </resultMap>

    <insert id="insertPhoto" parameterType="Photo">
        <selectKey keyProperty="photoNo" resultType="int" order="BEFORE">
            SELECT SEQ_PHOTO.nextval from dual
        </selectKey>
        INSERT INTO PHOTO (PHOTO_NO, USER_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH) VALUES
        (#{photoNo},#{userNo}, #{originName},#{changeName},#{filePath})
    </insert>
    <delete id="deletePhoto" parameterType="_int">
        DELETE PHOTO WHERE PHOTO_NO=#{photoNo}
    </delete>
    <delete id="deleteByUser" parameterType="_int">
        DELETE PHOTO WHERE PHOTO_NO=(select PHOTO_NO from PHOTO join USER_PROFILE USING(PHOTO_NO) where USER_NO=#{userNo})
    </delete>
    <delete id="deleteByFeed" parameterType="_int">
        DELETE PHOTO WHERE PHOTO_NO=(select PHOTO_NO from PHOTO join FEED_PHOTO USING(PHOTO_NO) where FEED_NO=#{feedNo})
    </delete>
    <select id="findByFeed" parameterType="_int" resultMap="photoMap">
        SELECT
            P.*
        FROM PHOTO P
        JOIN FEED_PHOTO USING (PHOTO_NO)
        WHERE FEED_NO=#{feedNo}
    </select>
    <select id="findByUser" parameterType="_int" resultMap="photoMap">
        SELECT
            P.*
        FROM USER_PROFILE U
            LEFT JOIN PHOTO P ON(U.PHOTO_NO = P.PHOTO_NO)
        WHERE U.USER_NO=#{userNo}
    </select>
    <select id="findOne" parameterType="_int" resultMap="photoMap">
        SELECT
            P.*
        FROM PHOTO P
        WHERE PHOTO_NO=#{photoNo}
    </select>
</mapper>