<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profileMapper">
    <resultMap id="profileDetail" type="Profile">
        <result column="USER_NO" property="userNo"/>
        <result column="NICK_NAME" property="nickName"/>
        <result column="PHOTO_NO" property="photoNo"/>
        <result column="PROFILE_COMMENT" property="profileComment"/>
        <association property="photo" resultMap="photoMapper.photoMap"/>
    </resultMap>
    <select id="selectOne" parameterType="int" resultType="Profile">
        select *
        from user_profile
                 left join PHOTO using (photo_NO)
        where user_no = #{userNo}
    </select>
</mapper>