<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">

    <resultMap id="replyResultSet" type="Reply">
        <result column="REPLY_NO" property="replyNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="FEED_NO" property="feedNo"/>
        <result column="REPLY_CONTENT" property="replyContent"/>
        <result column="REPLY_AT" property="replyAt"/>
    </resultMap>

    <!--  피드 댓글 작성  -->
    <insert id="insertFeedReply" parameterType="Map">
        INSERT INTO REPLY (REPLY_NO, USER_NO, FEED_NO, REPLY_CONTENT,REPLY_AT) VALUES
        (SEQ_REPLY.nextval, #{userNo}. #{feedNo},#{replyContent},SYSDATE)
    </insert>
</mapper>