<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="templateMapper">

    <resultMap id="templateList" type="Template">
        <result column="TEMPLATE_NO" property="templateNo"/>
        <result column="CATEGORY_NO" property="categoryNo"/>
        <result column="RANGE" property="range"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result property="clearCount" column="CLEAR_COUNT" />
        <result property="playCount" column="PLAY_COUNT" />
        <association property="profile" resultMap="profileMapper.profileDetail"/>
    </resultMap>

    <select id="findUnSave" parameterType="Integer" resultType="Template">
        SELECT * (select count from template j),() FROM TEMPLATE WHERE TP_CREATE = #{userNo} AND SAVE_STATUS = 0
    </select>
    <select id="findOne" parameterType="Integer" resultType="Template">
        SELECT
        T.* ,
        (SELECT COUNT(*) FROM TEMPLATE T1
        JOIN CHALLENGE C ON C.TEMPLATE_NO=T1.TEMPLATE_NO
        JOIN CHALLENGE_USER CU USING(CHALLENGE_NO)
        WHERE CU.STATUS='PLAY'
        AND T.TEMPLATE_NO=T1.TEMPLATE_NO)as PLAY_COUNT,
        --진행중인 사람수
        (SELECT COUNT(*)
        FROM TEMPLATE T2
        JOIN CHALLENGE C ON C.TEMPLATE_NO=T2.TEMPLATE_NO
        JOIN CHALLENGE_USER CU USING(CHALLENGE_NO)
        WHERE CU.STATUS='CLEAR'
        AND T.TEMPLATE_NO=T2.TEMPLATE_NO)as CLEAR_COUNT ,
        --완료수
        P.*,up.*
        FROM TEMPLATE T
        JOIN USER_PROFILE up ON T.TP_CREATER = up.USER_NO
        JOIN PHOTO P ON UP.PHOTO_NO = P.PHOTO_NO
        WHERE T.SAVE_STATUS=1
        ORDER BY T.CREATED_AT DESC
    </select>
    <select id="findMany" parameterType="Map" resultMap="templateList">
        SELECT
        T.* ,
        (SELECT COUNT(*) FROM TEMPLATE T1
        JOIN CHALLENGE C ON C.TEMPLATE_NO=T1.TEMPLATE_NO
        JOIN CHALLENGE_USER CU USING(CHALLENGE_NO)
        WHERE CU.STATUS='PLAY'
        AND T.TEMPLATE_NO=T1.TEMPLATE_NO)as PLAY_COUNT,
        --진행중인 사람수
        (SELECT COUNT(*)
        FROM TEMPLATE T2
        JOIN CHALLENGE C ON C.TEMPLATE_NO=T2.TEMPLATE_NO
        JOIN CHALLENGE_USER CU USING(CHALLENGE_NO)
        WHERE CU.STATUS='CLEAR'
        AND T.TEMPLATE_NO=T2.TEMPLATE_NO)as CLEAR_COUNT ,
        --완료수
        P.*,up.*
        FROM TEMPLATE T
        JOIN USER_PROFILE up ON T.TP_CREATER = up.USER_NO
        JOIN PHOTO P ON UP.PHOTO_NO = P.PHOTO_NO
        WHERE T.SAVE_STATUS=1
        <if test="categoryNo!=null">, CATEGORT_NO=#{categoryNo}</if>
        ORDER BY T.CREATED_AT DESC
    </select>
    <delete id="deleteTemp" parameterType="int">
        DELETE TEMPLATE WHERE TEMPLATE_NO=#{templateNo}
    </delete>
    <delete id="resetTemp" parameterType="int">
        DELETE TEMPLATE WHERE TP_CREATER=#{userNo} AND SAVE_STATUS=0
    </delete>
    <insert id="createTemp" parameterType="Map">
        <selectKey resultType="int" keyProperty="templateNo" order="BEFORE" >
            SELECT SEQ_TEMPLATE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TEMPLATE (TEMPLATE_NO,TP_CREATER)  VALUES(#{templateNo},#{userNo})
    </insert>
    <update id="upload" parameterType="int">
        update template
            set todo_count = (
        select count(*)
        from template_todo where save_status=0 and TP_CREATER=#{userNo} ),
                SAVE_STATUS = 1,
                CREATE_AT=SYSDATE
        where save_status=0 and USER_NO=#{userNo}
    </update>
    <update id="updateUnSave" parameterType="Template" >
        update template
        <set>
            <if test="categoryNo != null">CATEGORY_NO=#{categoryNo} </if>
            <if test="range != null">RANGE = #{range} </if>
            <if test="title != null">TITLE = #{title} </if>
            <if test="content != null">CONTENT= #{content} </if>
        </set>
        where templateNo=#{templateNo}
    </update>
</mapper>