<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="templateMapper">
    <select id="findUnSave" parameterType="Integer" resultMap="template">
        SELECT * FROM TEMPLATE WHERE TP_CREATE = #{userNo} AND SAVE_STATUS = 0
    </select>
    <select id="findOne" parameterType="Integer" resultMap="template">
        SELECT * FROM TEMPLATE WHERE TEMPLATE_NO =#{templateNo}
    </select>
    <delete id="deleteTemp" parameterType="int">
        DELETE TEMPLATE WHERE TEMPLATE_NO=#{templateNo}
    </delete>
    <delete id="resetTemp" parameterType="int">
        DELETE TEMPLATE WHERE TP_CREATER=#{userNo} AND SAVE_STATUS=0
    </delete>
    <insert id="createTemp" parameterType="Map">
        <selectKey resultType="int" keyProperty="templateNo" order="BEFORE" >
            SELECT SEQ_TEMPLATE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TEMPLATE (TEMPLATE_NO,TP_CREATER)  VALUES(#{templateNo},#{userNo})
    </insert>
    <update id="upload" parameterType="int">
        update template
            set todo_count = (
        select count(*)
        from template_todo where save_status=0 and TP_CREATER=#{userNo} ),
                SAVE_STATUS = 1,
                CREATE_AT=SYSDATE
        where save_status=0 and USER_NO=#{userNo}
    </update>
    <update id="upload" parameterType="Template" >
        update template
        <set>
            <if test="categoryNo != null">CATEGORY_NO=#{categoryNo} </if>
            <if test="range != null">RANGE = #{range} </if>
            <if test="categoryNo != null"> </if>
            <if test="categoryNo != null"> </if>
            <if test="categoryNo != null"> </if>
            <if test="categoryNo != null"> </if>
        </set>
        where templateNo=0
    </update>
</mapper>