<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="site.lemongproject.web.template.model.dto.Template" alias="Template"/>
        <typeAlias type="site.lemongproject.web.template.model.dto.TemplateCategory" alias="TemplateCategory"/>
        <typeAlias type="site.lemongproject.web.template.model.dto.TemplateTodo" alias="TemplateTodo"/>
        <typeAlias type="site.lemongproject.web.member.model.vo.Profile" alias="Profile"/>
        <typeAlias type="site.lemongproject.web.member.model.vo.Member" alias="Member"/>
        <typeAlias type="site.lemongproject.web.photo.model.vo.Photo" alias="Photo"/>
        <typeAlias type="site.lemongproject.web.reply.model.vo.Reply" alias="Reply"/>
        <typeAlias type="site.lemongproject.common.domain.dto.OfficialHoliday" alias="Holiday"/>
        <typeAlias type="site.lemongproject.web.feed.model.vo.Feed" alias="Feed"/>
        <typeAlias type="site.lemongproject.web.todo.model.vo.Todo" alias="Todo"/>
        <typeAlias type="site.lemongproject.web.member.model.vo.EmailConfirm" alias="EmailConfirm" />
        <package name="site.lemongproject.web.template.model.vo"/>
        <package name="site.lemongproject.web.challenge.model.dto"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="site.lemongproject.common.type.handler.NameEnumTypeHandler"></typeHandler>
    </typeHandlers>
    <mappers>
        <mapper resource="mybatis/mappers/photo-mapper.xml"/>
        <mapper resource="mybatis/mappers/reply-mapper.xml"/>
        <mapper resource="mybatis/mappers/holiday-mapper.xml"/>
        <mapper resource="mybatis/mappers/feed-mapper.xml"/>
        <mapper resource="mybatis/mappers/todo-mapper.xml"/>
        <mapper resource="mybatis/mappers/template/template-mapper.xml"/>
        <mapper resource="mybatis/mappers/template/templatetodo-mapper.xml"/>
        <mapper resource="mybatis/mappers/template/templatecategory-mapper.xml"/>
        <mapper resource="mybatis/mappers/member/member-mapper.xml"/>
        <mapper resource="mybatis/mappers/member/profile-mapper.xml"/>
        <mapper resource="mybatis/mappers/member/emailconfirm-mapper.xml"/>
    </mappers>
</configuration>
